* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: #eee;
	font-family: "Segoe UI", sans-serif;
	color: #222;
}

.btn {
	background: #16c933;
	color: #fff;
	padding: 10px;
	border: none;
	cursor: pointer;
	transition: background 0.2s;
}

.btn:hover {
	background: #46df5f;
}

h1,
h2,
h3 {
	font-weight: normal;
}

/* Login Page */

.login {
	position: absolute;
	top: calc(50% - 115px);
	left: calc(50% - 200px);
	width: 400px;
	height: 230px;
	padding: 20px;
	background: #fff;
}

.login input[type="text"],
.login input[type="password"],
.login select {
	display: block;
	width: 100%;
	font-size: 14px;
	padding: 10px;
	background: #fdfdfd;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	transition: background 0.2s;
}

.login input[type="text"]:hover,
.login input[type="password"]:hover,
.login select:hover {
	background: #eee;
}

.login input[type="submit"] {
	width: 100%;
}

/* Sidebar */

.sidebar {
	position: fixed;
	width: 300px;
	height: 100%;
	background: #222;
	padding: 30px 0;
	color: #fff;
}

.sidebar a { 
	color: inherit;
	text-decoration: none;
}

.sidebar .site-logo {
	display: block;
	width: 300px;
	height: 108px;
	background: url('../uploads/logo.png') no-repeat center;
	text-indent: -999999px;
	margin-bottom: 20px;
}

.sidebar .site-logo a {
	display: block;
	width: 100%;
	height: 100%;
}

.site-menu ul {
	list-style: none;
}

.site-menu ul > li a {
	display: block;
	width: 100%;
	padding: 10px 20px;
	font-size: 18px;
	transition: background 0.2s;
}

.site-menu ul > li a i {
	width: 30px;
	margin-right: 5px;
}

.site-menu ul > li a:hover {
	background: #16c933;
}

.site-menu ul > li:hover .sub-menu {
	display: block;
}

.site-menu ul > li .sub-menu {
	display: none;
	margin-left: 20px;
}

.site-menu ul > li .sub-menu > li a {
	font-size: 13px;
	padding: 5px 10px
}

/* Content */

.content {
	position: absolute;
	left: 300px;
	width: 1100px;
	padding: 30px;
}

/* Main Page */

.main {
	font-size: 18px;
}

.main h1 {
	font-size: 38px;
	margin-bottom: 15px;
}

.main p {
	margin-bottom: 5px;
}

.main p.author {
	font-size: 13px;
}

/* Page */

.page-title {
	font-size: 32px;
	margin-bottom: 30px;
}

.half {
	float: left;
	width: 50%;
	padding-right: 15px;
}

.half:nth-child(even) {
	padding-right: 0;
	padding-left: 15px;
}

.clr {
	width: 100%;
	clear: both;
}

label {
	display: block;
	width: 100%;
	margin-bottom: 7.5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
select {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
	padding: 10px;
	font-size: 16px;
	margin-bottom: 20px;
}

/* Search Bar */

.search-bar {
	margin-bottom: 20px;
}

.search-bar input[type="search"],
.search-bar select {
	width: auto;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
	font-size: 14px;
	box-shadow: none;
}

.search-bar input[type="search"] {
	padding: 6px 5px;
}

.search-bar .btn {
	padding: 7px 10px;
}

/* Tables */

.data-table {
	width: 100%;
	border-collapse: collapse;
}

.data-table thead tr th,
.data-table tfoot tr td {
	background: #eaeaea;
	text-align: left;
	padding: 10px;
	border-bottom: 3px solid #ccc;
}

.data-table tfoot tr td {
	text-align: center;
}

.data-table tbody tr td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.data-table tbody tr td .btn {
	padding: 5px;
	text-decoration: none;
}

.data-table tbody tr td input[type="number"] {
	margin: 0;
	padding: 5px;
	width: auto;
}

.rapot-head {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000;
}

.rapot-head tbody tr td {
	padding: 10px;
}

.rapot-head h1 {
	font-size: 38px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

.rapot-head p {
	margin-bottom: 3px;
	font-size: 14px;
}

.rapot-head tbody tr td img {
	position: relative;
	float: left;
	top: 5px;
}

.rapot-head tbody tr td header {
	position: relative;
	top: 75px;
	left: -75px;
	height: 150px;
	transform: translateY(-60px);
}

.rapot-head tr th,
.rapot-head tr td {
	width: 25%;
	text-align: left;
	padding: 10px;
}

.rapot-body {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000;
}

.rapot-body tr th,
.rapot-body tr td {
	padding: 10px;
	border-bottom: 1px solid #000;
	text-align: left;
}

@media print {
	.rapot-head h1 {
		font-size: 24px;
	}
	.rapot-head p {
		font-size: 12px;
	}
	.rapot-print tr td,
	.rapot-print tr th {
		font-size: 12px;
		padding: 5px;
	}
	.rapot-body-print tr td,
	.rapot-body-print tr th {
		font-size: 14px;
	}
	.rapot-head tbody tr td {
		padding: 5px 10px; 
	}
	.rapot-head img {
		width: 100px;
		height: auto;
	}
	.rapot-head tbody tr td img {
		position: relative;
		float: left;
		top: 15px;
	}
	
	.rapot-head tbody tr td header {
		position: relative;
		top: 75px;
		left: -25px;
		height: 115px;
		transform: translateY(-60px);
	}
}